/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #7e45e8;
}

/* Colors */
.text-dark {
    color: #4d4d4d;
}
.jumbotron {
    background-color: #e84a45;
    color: #fff;
}
.bg-white {
    background-color: #ffffff;
}

/* Headers */
h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
}
h5 {
    margin-top: .5rem;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #f2f2f2;
}

body {
    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex; */
    color: #4d4d4d;
    font-family: "Raleway", sans-serif;
}


.container {
    max-width: 42em;
}


.cover-container img {
    max-width: 100%;
}

.landscape {
    margin-left: calc(50% - 55vw);
    margin-right: calc(50% - 55vw);
}

/*
 * Header
 */
 .masthead-brand {
    color: #e84a45;
 }

@media (max-width: 47.9em) {
    .masthead {
        margin-bottom: 50px;
    }
}
@media (min-width: 48em) {
    .masthead {
        margin-bottom: 100px;
    }
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Posts
 */
 main img {
     border-radius: 25px;
     max-width: 100%;
 }

 .caption {
    font-family: 'Roboto Slab', sans-serif;
 }
.quote {
    background-color: #fff;
    border-radius: 25px;
}
.quote .caption {
    font-size: .8em;
    font-style: italic;
}

.essay {
    background-color: #45e8bf;
    border-radius: 25px;
}
.essay a {
    color: #fff;
}

.post a {
    color: #4d4d4d;
}

blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
  }


/*
 * MikiS
 */
 .links line {
    stroke: #aaa;
  }
  
  .nodes circle {
    pointer-events: all;
    stroke: none;
    cursor: pointer;
  }
  

