{% extends "layout.html" %}
{% block premain %}
    <div class="mb-auto"></div>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="mb-5 text-center">
            <h1>Page Not Found</h1>
            <p>Many GIGAMIND pages are not uploaded. Links to temporary notes and other private files which are not part of the public repository redirect here.</p>
            <p>If you believe this is an error, please <a href="/contact.html">contact me</a>.</p>
        </div>
    </div>
    

{% endblock %}