{% extends "layout.html" %}
{% block body %}

    <div class="justify-content-center">
        <div class="mb-5 text-center">
            <h1>travis (at) giggy [dot] com</h1>
        </div>

        <div class="row">
            <div class="col-md-6 text-center mb-2"><a href="https://twitter.com/tgig"><img src="{{ url_for('static', filename='img/twitter-3-240.png') }}" height="50" /></a></div>
            <div class="col-md-6 text-center"><a href="https://www.linkedin.com/in/travisgiggy/"><img src="{{ url_for('static', filename='img/linkedin-3-240.png') }}" height="50" /></a></div>
        </div>

    </div>
    

{% endblock %}