{% extends "layout.html" %}
{% block body %}

    <div class="jumbotron mb-0">
        <div class="container">
            <h2>I've spent 25 years creating beautiful and usable software as a programmer, product manager, and entrepreneur. </h2>
        </div>

       
    </div>

    
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2><a href="/posts.html" class="text-dark">Blog</a></h2>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="/posts/20201127-about-travis.giggy.com.html">This site exists</a> so that I can <a href="/posts.html">blog</a> about my craft, my family, and my adventures. I write about the myriad of things I'm interested in, and some life lessons in case my kids ever feel like reading them in the future.
            </div>
        </div>
    </div>
        
    <div class="bg-white">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2><a href="/miki.html" class="text-dark">Miki</a></h2>
                </div>
                <div class="col-md-6 col-sm-12">
                    I write. <a href="/miki/101.017.html">A lot.</a> A "Miki" is just a Wiki, <a href="/miki/101.020.html">but only for me</a>. It is based on the <a href="/miki/101.html">Zettelkasten method</a>, with many thanks to the Internet pioneers who helped me form my own technique.
                </div>
            </div>
        </div>
    </div>

{% endblock %}