{% extends "layout.html" %}
{% block title %}Travis Giggy: Brain on Code{% endblock %}
{% block description %}Welcome to my visual knowledge graph. 25 years of lessons learned while growing as a husband, father, coder, entrepreneur.{% endblock %}
{% block body %}

    <svg id="graphIt" style="position: relative;"></svg>

    <div id="folderTable" class="container text-center">
        <table class="table">
            <tr>
                <th colspan="2">Folder</th>
                <td>File Count</td>
            </tr>
        {% for folder in folders.keys() %}
            <tr>
                <td>
                    <svg height="20" width="20">
                        <circle cx="10" cy="10" r="8" stroke="#CCCCCC" stroke-width="1" fill="{{ folders[folder].color }}" />
                    </svg>
                </td>
                <td class="text-left"><a href="/miki/folder/{{ folders[folder].folderId }}.html">{{ folder }}</a></td>
                <td>{{ folders[folder].count }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
{% block script %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script>
        graph = {{ mikis|safe }};
        
        var svgWidth = document.body.clientWidth;
        var svgHeight = document.body.clientHeight;
        document.getElementById("graphIt").style.top = -1 * document.getElementById("header-menu").clientHeight;

        GraphRenderer("graphIt", graph, svgWidth, svgHeight, "node-folder", "node-file")
    </script>
{% endblock %}