<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Travis Giggy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YFNMHWPS67"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YFNMHWPS67');
    </script>
</head>

<body class="min-vh-100 d-flex flex-column">

        <div class="container d-flex flex-column flex-md-row align-items-center p-3 mt-2 mb-2 mx-auto">
            <h3 class="my-0 mr-md-auto masthead-brand">Travis Giggy</h3>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark" href="/posts.html">Blog</a>
                <a class="p-2 text-dark" href="/miki.html">Miki</a>
                <a class="p-2 text-dark" href="/contact.html">Contact</a>
            </nav>
        </div>

        {% block premain %}{% endblock %}

        <main role="main" id="main">
            {% block body %}{% endblock %}
        </main>

        <footer class="container mt-auto mx-auto mb-3 pt-2">
            <div class="row">
                <div class="col text-center text-nowrap">&#169; Travis Giggy</div>
                <div class="col text-center"><a href="/contact.html"><img src="{{ url_for('static', filename='img/email-1-240.png') }}" height="20" /></a></div>
                <div class="col text-center"><a href="https://twitter.com/tgig"><img src="{{ url_for('static', filename='img/twitter-3-240.png') }}" height="20" /></a></div>
                <div class="col text-center"><a href="https://www.linkedin.com/in/travisgiggy/"><img src="{{ url_for('static', filename='img/linkedin-3-240.png') }}" height="20" /></a></div>
                <div class="col text-center"><a href="/site-map.html"><img src="{{ url_for('static', filename='img/sitemap-5-240.png') }}" height="20" /></a></div>
            </div>
        </footer>

</body>
{% block script %}{% endblock %}
</html>