{% extends "layout.html" %}
{% block title %}{{ folder.folderName }}{% endblock %}
{% block body %}

    <h1 class="mb-0">{{ folder.folderName }}</h1>

    <div class="container">

        <div class="text-center" id="node-file" style="height: 20px;">&nbsp;</div>
        <svg id="graphIt"></svg>

        <ul>
        {% for file in files %}
            <li><a href="/miki/{{ file.id }}.html">{{ file.fileName }}</a></li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block script %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script>
        graph = {{ mikis|safe }};
        //scale height of graph based on number of nodes
        var svgHeight = 150;
        nodeCount = graph.nodes.length;
        if (nodeCount > 400)
            svgHeight = 500;
        else if (nodeCount > 250)
            svgHeight = 400;
        else if (nodeCount > 100)
            svgHeight = 250;
        else if (nodeCount > 50)
            svgHeight = 200;
        GraphRenderer("graphIt", graph, document.getElementById("main").getElementsByClassName("container")[0].offsetWidth, svgHeight, null, "node-file")
    </script>
{% endblock %}