{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div id="info" style="height: 50px;">
            <div class="row">
                <div class="col-2">Folder:</div>
                <div class="col-10" id="node-folder"></div>
            </div>
            <div class="row">
                <div class="col-2">File:</div>
                <div class="col-10" id="node-file"></div>
            </div>
        </div>
    </div>
    
    <svg id="graphIt" style="margin-top: -100px; margin-bottom: 20px;"></svg>

    <br />

    <div class="container text-center">
        <table class="table">
            <tr>
                <th colspan="2">Folder</th>
                <td>File Count</td>
            </tr>
        {% for folder in folders.keys() %}
            <tr>
                <td>
                    <svg height="20" width="20">
                        <circle cx="10" cy="10" r="8" stroke="#CCCCCC" stroke-width="1" fill="{{ folders[folder].color }}" />
                    </svg>
                </td>
                <td class="text-left"><a href="/miki/folder/{{ folders[folder].folderId }}.html">{{ folder }}</a></td>
                <td>{{ folders[folder].count }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
{% block script %}

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/graph.js"></script>
    <script>
        graph = {{ mikis|safe }};
        GraphRenderer("graphIt", graph, window.innerWidth, window.innerHeight - 100, "node-folder", "node-file")
    </script>
    
{% endblock %}