{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div id="info" style="height: 50px;">
            <div class="row">
                <div class="col-2">Folder:</div>
                <div class="col-10" id="node-folder">{{ miki.path.folderName }}</div>
            </div>
            <div class="row">
                <div class="col-2">File:</div>
                <div class="col-10" id="node-file">{{ miki.path.fileName }}</div>
            </div>
        </div>

        <svg id="graphIt"></svg>

            
        <div>
            <div class="mb-5">
                {{ miki.html|safe }}
            </div>
            <hr class="mb-5" />
            {% if miki.meta.source %}
                <div class="mb-5">
                    <h5>Source:</h5>
                    <ul>
                    {% for source in miki.meta.source %}
                        <li>
                        {% if source.miki_id %}
                            <a href="/miki/{{ source.miki_id|urlencode }}.html">{{ source.file_name }}</a>    
                        {% else %}
                            {{ source }}
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if miki.meta.tags %}
                <div class="mb-5">
                    <h5>Tags:</h5>
                    <ul>
                    {% for tag in miki.meta.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if miki.meta.relevant %}
                <div class="mb-5">
                    <h5>Relevant:</h5>
                    <ul>
                    {% for r in miki.meta.relevant %}
                        <li><a href="/miki/{{ r.miki_id|urlencode }}.html">{{ r.file_name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            
        </div>
    </div>


{% endblock %}
{% block script %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script>
        graph = {{ mikis|safe }};
        GraphRenderer("graphIt", graph, document.getElementById("main").getElementsByClassName("container")[0].offsetWidth, 150, "node-folder", "node-file")
    </script>
{% endblock %}