{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <div id="info" style="height: 50px;">
            <div class="row">
                <div class="col-2">Folder:</div>
                <div class="col-10" id="node-folder"></div>
            </div>
            <div class="row">
                <div class="col-2">File:</div>
                <div class="col-10" id="node-file"></div>
            </div>
        </div>
    </div>
    
    <svg id="graphIt"></svg>

{% endblock %}
{% block script %}

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/graph.js"></script>
    <script>
        graph = {{ mikis|safe }};
        GraphRenderer("graphIt", graph, window.innerWidth, window.innerHeight - 100, "node-folder", "node-file")
    </script>
    
{% endblock %}